
.badge-success {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}

.badge-danger {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
}

.badge-secondary {
    color: #41464b !important;
    background-color: #e2e3e5 !important;
    border-color: #d3d6d8 !important;
}

.bg-gray-200, 
.badge-info {
    color: #055160 !important;
    background-color: #cff4fc !important;
    border-color: #b6effb !important;
}

.bg-orange-500,
.badge-warning {
    color: #664d03 !important;
    background-color: #fff3cd !important;
    border-color: #ffecb5 !important;
}

.alert-toast {
    position: absolute;
    bottom: 2em !important;
    right: 3.5em !important;
    z-index: 9999 !important;
}

.alert-toast-close {
    position: absolute;
    bottom: 2em !important;
    right: 3.5em !important;
    z-index: 9999 !important;
    padding-right: 2.5em !important;
}

.alert-toast .btn-close {
    padding-left: 2em !important;
}

#exampleModal .modal-dialog {
   visibility: initial !important;
}

.bg-green-500 {
    background: #22c55e !important;
    color: white !important
}

.bg-red-500 {
    background: #ef4444 !important;
    color: white !important
}

.bg-orange-500 {
    background: #f97316 !important;
    color: white !important
}

.bg-sky-400 {
    background: #38bdf8 !important;
    color: white !important
}

.bg-main {
    background-color: #F1F5F9 !important;
}

.avatar-xl {
    width: 74px !important;
    height: 74px !important;
}
.avatar {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: .75rem;
    height: 48px;
    width: 48px;
    transition: all .2s ease-in-out;
}

.avatar-sm {
    height: 32px !important;
    width: 32px !important;
}

.avatar-lg {
    height: 72px !important;
    width: 72px !important;
}

/*
.sidebar-user .sidebar-user-title {
    color: #EE4B58 !important;
}

.sidebar-item.active .sidebar-link:hover, .sidebar-item.active>.sidebar-link {
    border-left-color: #EE4B58 !important;
}
*/

/*
.form-check-input:checked {
    background-color: #212E3C !important;
    border-color: #212E3C !important;
}

.btn-primary {
    background: #212E3C !important;
    border-color: #212E3C !important;
    border-radius: 3px !important;
}

.btn-outline-primary {
    border-color: #212E3C !important;
    color: #212E3C !important;
    border-radius: 3px !important;
}

.btn-outline-primary:hover {
    background: #212E3C !important;
    border-color: #212E3C !important;
    color: #fff !important;
    border-radius: 3px !important;
}

.form-control:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 2px #212E3C !important;
    transition: box-shadow .15s ease,border-color .15s ease !important;
    border-color: #212E3C !important;
    box-shadow: none !important;
    border-color: none !important;
}

.focused .form-control:focus {
    box-shadow: none !important;
    border-color: none !important;
}
*/

.btn,
.form-control,
.card {
    border-radius: 6px !important;
}



